@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url('images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
  transition: margin-left .5s;
}

.card {
  position: absolute;
  width: 200px;
  height: 300px;
  cursor: pointer;
  animation: slideInAndSpin 1s ease-out forwards;
  opacity: 0;
  transform-origin: top left;
}

@keyframes slideInAndSpin {
  0% {
    transform: translateY(-200vh) translateX(0vh) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(0) rotate(var(--rotation));
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  overflow-y: hidden;
  color: #f1f1f1
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.accordion {
  overflow-y: hidden;
  height: 100%;
  font-size: 18px;
  padding-top: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

table {
  width: 100%;
  background-color: rgba(34, 34, 34, 0.7);
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

th,
td {
  padding: 12px;
  text-align: left;
  color: #fff;
}

th {
  background-color: rgba(68, 68, 68, 0.7);
}

tr:nth-child(even) {
  background-color: rgba(51, 51, 51, 0.7);
}

#credits{
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
